<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Employee</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_employee.css') }}">

</head>

<body>

    {% include "message.html" %}

    <a href="{{ url_for('view_employees') }}" class="back-btn">

        ← Back

    </a>

    <div class="container">

        <h2>Edit Employee</h2>

        <form method="POST">

            <div class="input-group">

                <label>Employee Name</label>

                <input type="text" name="employee_name" value="{{ employee.employee_name }}" required>

            </div>

            <div class="input-group">

                <label>Employee Code</label>

                <input type="text" name="employee_code" value="{{ employee.employee_code }}" required>

            </div>

            <div class="input-group">

                <label>Email</label>

                <input type="email" name="email" value="{{ employee.email }}" required>

            </div>

            <div class="input-group">

                <label>Phone Number</label>

                <input type="text" name="phone_number" maxlength="10" value="{{ employee.phone_number }}" required>

            </div>

            <button type="submit">

                Update Employee

            </button>

        </form>

    </div>

</body>

</html>